<div class="category1">
  <div class="container-fluid">
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 100%">
        <div class="carousel-inner" >
          <div class="carousel-item active">
          <%=link_to image_tag("ad1.jpg"), size:"100%", class:"d-block" %> 
          </div>
          <div class="carousel-item">
            <img class="d-block w-70" src="https://cdn.pixabay.com/photo/2015/07/17/15/40/red-condoms-849407_960_720.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-70" src="https://cdn.pixabay.com/photo/2015/07/17/15/40/red-condoms-849407_960_720.jpg" alt="Third slide">
          </div>
        </div>
      </div>
      
      <% @condoms.each do |condom| %>
        <div class="col-6 card-white" style="width: 18rem;">
          <%= link_to image_tag(condom.image, style:"height: 70%;", class:"card-img-top"), "/hot/#{condom.id}" %>
          <div class="card-body" style="padding: 0px" >
            <p class="card-text text-center text-font" style="margin-bottom : 0px; font-size: 0.8rem"><%= condom.name %></p>
            <p class="card-text text-center text-font" style="color: orange; font-size: 1rem"> <%= '★' * (condom.score || 4) %>            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

