<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="bg-warning text-white w-100" style="height=70px;"><h3 class="text-center mt-1">뿌-우</h3></div>
    <div class="hot-img border rounded mt-4">image</div>
    <div class="mt-4"><h4><span class="badge badge-pill badge-secondary">1위</span> NAME</h4></div>
    <div><h6>간단한 설명쓰</h6></div>
    <div class="review--point">★★★★★</div>
</div>
<div class="d-flex flex-column bg-light mt-5" style="height: 400px;">
    <div class="ml-2 mr-2">
        <h4 class="review--title mb-3">NAME의 리뷰</h4>
        <div class="border-bottom mb-2">
            <h6 class="text-left">1 좋으네요</h6>
            <span class="review--point">★★★★</span>
        </div>
        <div class="border-bottom mb-2">
            <h6 class="text-left">2 별로</h6>
            <span class="review--point">★★</span>
        </div>
        <div class="border-bottom mb-2">
            <h6 class="text-left">3 굳굳</h6>
            <span class="review--point">★★★★</span>
        </div>
    <div class="review__form">
        <form accept-charset="UTF-8" action="/" method="post">
            <div class="review--point">★★★★★</div>
            <input type="text" name="review[content]" id="content" />
            <input type="submit" name="commit" value="Create"/>
        </form>
    </div>
    </div>
</div>