<div class="row">
    <div id="logo" class="w-100 mt-5">
        <%= image_tag("logo.jpg", width: '100%') %>
        <h1 class="text-center">코끼리야!</h1>
    </div>
    <div id="start" class="w-100 text-center">
        <a href="/find">
            <button type="button" class="btn btn-secondary btn-lg w-75">시작하기</button>
        </a>
    </div>
</div>

<style>
    body {
        background-color: #EEF7F6;
        font-family: 'Jua', sans-serif;
    }
    .row {
        height: 100vh;
    }
    #logo {
        width: 100%;
    }
    #start {

    }
</style>