<div class="container">
    <div class="row d-flex align-items-stretch h-100">
        <div id="logo" class="col-8 offset-2 mt-5 pt-5">
            <%= image_tag("logo2.png", class: "w-100") %>
        </div>
        <div id="howto" class="col-12 text-center my-5">
            <ul>
                <li>꼭 필요했던 순간이 있지 않나요?</li>
                <li>혹시 직접 가서 물어보기는 부끄러웠나요?</li>
                <hr>
                <li>청록코끼리가 여러분과 함께 해요!</li>
                <li>주변 2분, 5분, 10분 내의 모든 판매처를</li>
                <li>여러분의 위치를 기준으로 알려줄게요!</li>
            </ul>
        </div>
        <div id="start" class="w-100 text-center">
            <a href="/find">
                <button type="button" class="btn btn-secondary btn-lg w-75">시작하기</button>
            </a>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #EEF7F6;
        font-family: 'Jua', sans-serif;
    }
    ul {
        padding-left: 0px;
    }
    li {
        list-style: none;
    }
    #howto {
        opacity: 0.4
    }
</style>