#reviews{
    width: 500px;
  }
  
  .review__contanier{
    padding: 0 20px;
    margin-top: 15px;
  }

  .review-box{
    overflow-y: scroll; 
    height: 300px;
  }
  
  
  .review--date{
    color: #778899;
  }
  .review--point{
    color: gold;
    font-size: 20px;
  }

  .review--point2{
    color: gold;
    font-size: 20px;
  }
  
  .review__form {
   padding: 10px;
   margin: 10px 0;
  }
  
  .review--title{
    text-align: center;
  }
  
  .field__content{
    display: block;
    margin: 10px 0;
  }
  
  #content{
    display: block;
    width: 100%;
    height: 70px;
  }
  
